@using api.Models
@* @using Newtonsoft.Json *@
@model IEnumerable<Rezervacija>
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">

    <h1 class="display-5">Rezervacije</h1>
    <div id="container">
        @{
            foreach (var rezervacija in Model)
            {
                <div class="item" data-id=@rezervacija.id>
                    <p>knjiga: @rezervacija.knjiga.naziv</p>
                    <p>korisnik: @rezervacija.korisnik.username</p>
                    <button class="btn">Odobri</button>
                </div>
            }
        }
    </div>
</div>
<template>
    <div class="item">
        <p>knjiga: </p>
        <p>korisnik: </p>
        <button class="btn">Odobri</button>
    </div>
</template>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/bibliotekar.js"></script>
<script>
    document.querySelector("#container").addEventListener("click", (e) => {
        if (e.target.className == "btn") {
            const id = e.target.parentElement.getAttribute("data-id")
            $.ajax({
                url: '@this.Url.ActionLink("odobriRezervaciju","Korisnik")',
                type: "post",
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    rezId: id
                },
                success: function (result) {
                    e.target.parentElement.outerHTML = ""
                }
            });
        }
    }, true)
</script>