@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (TempData["Err"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["Err"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }


    <h1 class="display-4">Login</h1>
    <form method="post">
        <div class="form-group">
            <input required type="email" class="form-control" name="username" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input required type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button asp-controller="Home" asp-action="Login" class="btn btn-primary">Login</button>
    </form>
    <h1 class="display-4">Register</h1>
    <form method="post">
        <div class="form-group">
            <input required type="email" class="form-control" name="username" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input required type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
